* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.login-body{
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    font-family: Poly, serif;
}
.header{
    width: 1920px;
    height: 78px;
    flex-shrink: 0;
    background: #BCACFC;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.logo{
    width: 59px;
    height: 52px;
    flex-shrink: 0;
    margin-left: 120px;
    margin-top: 13px;
}
.logo-name{
    width: 127px;
    height: 53px;
    flex-shrink: 0;
    margin-left: 15px;
    margin-top: 12px;
    margin-right: 1342px;
}
.coming-soon{
    color: #0500FF;
    font-family: Poly, serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 330px 735px 0 735px;
}
.parent-login{
    background: url('../images/bgLogin.jpeg') lightgray 50% / cover no-repeat;
    width: 1920px;
    height: 1080px;
    padding: 203px 578px 0 578px;
}
.parent-signup{
    background: url('../images/bgLogin.jpeg') lightgray 50% / cover no-repeat;
    width: 1920px;
    height: 1080px;
    padding: 92px 578px 0 578px;
}
.signin-block{
    width: 764px;
    height: 391px;
    flex-shrink: 0;
    border-radius: 60px;
    background: #FFF;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
}
.signin-design{
    height: 367.329px;
    width: 307.203px;
    flex-shrink: 0;
    background-color: #BCACFC;
    border-radius: 57px;
    margin: 11px 0 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signin-form{
    width: 363px;
    height: 328px;
    flex-shrink: 0;
    margin: 33px 0 30px 48px;
}
.signin-form h1{
    color: #000;
    font-family: Poly, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.signin-form h2{
    color: #000;
    font-family: Poly,serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 13px;
    margin-bottom: 13px;
}
.signin-form input{
    width: 363px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #929292;
    background: #FFF;
    padding: 15px;
    font-family: Poly, serif;
    font-size: 20px;
}
.signin-form input:focus {
    border: 2px solid black; /* Change border color */
    outline: none;
}
.signin-form button{
    width: 156px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #000;
    color: white;
    font-family: Poly, serif;
    font-size: 24px;
    margin-top: 19px;
    margin-left: 100px;
}
.signin-form h3{
    color: #000;
    font-family: Poly, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-top: 11px;
    margin-left: 60px;
    line-height: normal;
}
.signin-form h3 span{
    color: #0500FF;
    font-family: Poly, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.signin-form h3 span a{
    text-decoration: none;
    cursor: pointer;
}
.signin-form h3 span a:visited{
    text-decoration: none;
    color: #0500FF;
}
.signup-block{
    width: 764px;
    height:  676px;
    flex-shrink: 0;
    border-radius: 60px;
    background: #FFF;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
}
.signup-design{
    height: 649.688px;
    width: 307.203px;
    flex-shrink: 0;
    background-color: #BCACFC;
    border-radius: 57px;
    margin: 11px 0 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signup-design-imgDiv{
    width: 258px;
    height: 375px;
    flex-shrink: 0;
    border-radius: 42px;
    background: url('../images/like.svg'), lightgray 50% / cover no-repeat;
}
.sign-out-btn{
    width: 137px;
    height: 49px;
    background-color: #000;
    border-radius: 8px;
    padding: 11px 25px 12px 26px;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.sign-out-link{
    color: #FFF;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

}
.sign-out-btn:hover{
    background-color: #595959;
}
.sign-out-btn:hover .sign-out-link{
    font-size: 19px;
    transition: font-size 0.2s ease-in-out;
}

.user-navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
    width: 1920px;
    align-items: center;
    height: 78px;
    margin-top: 78px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #000000;
}
.user-navbar h2{
    font-size: 28px;
}
.write-post-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.write-post-div .post-button{
    width: 80px;
    font-size: 18px;
    color: white;
    height: 37px;
    background-color: #000;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.write-post-div .post-button:hover{
    background-color: #595959;
    font-size: 17px;
}
.write-post-div input{
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;
    width: 230px;
    margin-right: 5px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(0, 0, 0);
    background: #dee1e2;
    height: 40px;
    :hover {
        border-color: #ccc;
    }

}
.write-post-div form input:focus{
        border:2px solid #0500FF;
        background: #fff;
}
.post-parent-div{
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
}
.post-parent-div .post-div{
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid #BCACFC;
    padding: 10px;
    border-radius: 15px;
}
.post-div .first-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.post-div .first-part .date{
    font-size: 18px;
}
.post-div .second-part{
    padding: 10px;
    font-size: 20px;
}
.main-post-div{
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    font-size: 22px;
    font-family: Poly, serif;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #BCACFC;
    border-radius: 15px;
}
.main-post-div .upper-post-part{
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
}
.main-post-div .lower-post-part{
    padding: 10px 10px;
}
.main-post-div .comment-input-form{
    padding: 10px 10px;
}
.main-post-div .comment-input-form input{
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;
    width: 230px;
    margin-right: 5px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(0, 0, 0);
    background: #dee1e2;
    height: 40px;
    :hover {
        border-color: #ccc;
    }
    :focus{
        border-color: #BCACFC;
    }
}
.main-post-div .comment-input-form .comment-button{
    width: 100px;
    height: 35px;
    font-size: 20px;
    font-family: Poly,serif;
    color: white;
    background-color: #000;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.main-post-div .comment-input-form .comment-button:hover{
    background-color: #595959;
    font-size: 17px;
}
.main-post-div .upper-post-part .date{
    font-size: 18px;
}
.comment-heading{
    padding: 10px 10px;
}
.comment-section{
    padding: 5px 50px;
    border: 1px solid #BCACFC;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 15px;
}
.comment-input .comment-text-input{
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;
    width: 230px;
    margin-right: 5px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(0, 0, 0);
    background: #dee1e2;
    height: 30px;
    :hover {
        border-color: #ccc;
    }
    :focus{
        border-color: #BCACFC;
    }
}
.comment-input{
    padding: 10px 10px;
}
.comment-input .comment-button{
    width: 90px;
    height: 30px;
    font-size: 18px;
    font-family: Poly,serif;
    color: white;
    border-color: #BCACFC;
    background-color: #BCACFC;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}


.comment-input .comment-button:hover{
    background-color: black;
    font-size: 17px;
}
.view-comment-div{
    padding: 10px 10px;
}
.view-comment-div .comment-form button{
    width: 150px;
    height: 30px;
    font-size: 18px;
    font-family: Poly,serif;
    color: white;
    background-color: #000;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.view-comment-div .comment-form button:hover{
    background-color: gray;
    font-size: 17px;
}




